# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,77.81,47,100,12.01,overcast clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,71.10,87,0,20.71,clear sky
2,2,Airai,TL,-8.9266,125.4092,61.38,86,100,2.26,light rain
3,3,Ostrovnoy,RU,68.0531,39.5131,39.25,89,33,15.84,scattered clouds
4,4,Bredasdorp,ZA,-34.5322,20.0403,67.55,65,100,8.97,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,77.81,47,100,12.01,overcast clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,71.10,87,0,20.71,clear sky
4,4,Bredasdorp,ZA,-34.5322,20.0403,67.55,65,100,8.97,overcast clouds
8,8,Saint-Philippe,RE,-21.3585,55.7679,72.99,77,39,9.66,scattered clouds
9,9,Havelock,US,34.8791,-76.9013,73.98,54,20,9.22,few clouds
14,14,Padang,ID,-0.9492,100.3543,77.18,85,94,3.91,overcast clouds
16,16,Atuona,PF,-9.8000,-139.0333,76.82,69,74,15.95,broken clouds
21,21,Tahta,EG,26.7693,31.5021,80.44,33,0,9.80,clear sky
23,23,Farafangana,MG,-22.8167,47.8333,71.06,80,0,13.53,clear sky
25,25,Hithadhoo,MV,-0.6000,73.0833,81.16,77,97,17.56,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,77.81,47,100,12.01,overcast clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,71.10,87,0,20.71,clear sky
4,4,Bredasdorp,ZA,-34.5322,20.0403,67.55,65,100,8.97,overcast clouds
8,8,Saint-Philippe,RE,-21.3585,55.7679,72.99,77,39,9.66,scattered clouds
9,9,Havelock,US,34.8791,-76.9013,73.98,54,20,9.22,few clouds
14,14,Padang,ID,-0.9492,100.3543,77.18,85,94,3.91,overcast clouds
16,16,Atuona,PF,-9.8000,-139.0333,76.82,69,74,15.95,broken clouds
21,21,Tahta,EG,26.7693,31.5021,80.44,33,0,9.80,clear sky
23,23,Farafangana,MG,-22.8167,47.8333,71.06,80,0,13.53,clear sky
25,25,Hithadhoo,MV,-0.6000,73.0833,81.16,77,97,17.56,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
0         Hermanus      ZA     77.81     overcast clouds -34.4187   19.2345
1   Port Elizabeth      ZA     71.10           clear sky -33.9180   25.5701
4       Bredasdorp      ZA     67.55     overcast clouds -34.5322   20.0403
8   Saint-Philippe      RE     72.99    scattered clouds -21.3585   55.7679
9         Havelock      US     73.98          few clouds  34.8791  -76.9013
14          Padang      ID     77.18     overcast clouds  -0.9492  100.3543
16          Atuona      PF     76.82       broken clouds  -9.8000 -139.0333
21           Tahta      EG     80.44           clear sky  26.7693   31.5021
23     Farafangana      MG     71.06           clear sky -22.8167   47.8333
25       Hithadhoo      MV     81.16          light rain  -0.6000   73.0833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,77.81,overcast clouds,-34.4187,19.2345,
1,Port Elizabeth,ZA,71.10,clear sky,-33.9180,25.5701,
4,Bredasdorp,ZA,67.55,overcast clouds,-34.5322,20.0403,
8,Saint-Philippe,RE,72.99,scattered clouds,-21.3585,55.7679,
9,Havelock,US,73.98,few clouds,34.8791,-76.9013,
14,Padang,ID,77.18,overcast clouds,-0.9492,100.3543,
16,Atuona,PF,76.82,broken clouds,-9.8000,-139.0333,
21,Tahta,EG,80.44,clear sky,26.7693,31.5021,
23,Farafangana,MG,71.06,clear sky,-22.8167,47.8333,
25,Hithadhoo,MV,81.16,light rain,-0.6000,73.0833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [21]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,77.81,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Port Elizabeth,ZA,71.10,clear sky,-33.9180,25.5701,39 On Nile Guest House
4,Bredasdorp,ZA,67.55,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
8,Saint-Philippe,RE,72.99,scattered clouds,-21.3585,55.7679,Le four à pain
9,Havelock,US,73.98,few clouds,34.8791,-76.9013,Sherwood Motel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [23]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df.loc[hotel_df["Hotel Name"] == ""].index)

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,77.81,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Port Elizabeth,ZA,71.10,clear sky,-33.9180,25.5701,39 On Nile Guest House
4,Bredasdorp,ZA,67.55,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
8,Saint-Philippe,RE,72.99,scattered clouds,-21.3585,55.7679,Le four à pain
9,Havelock,US,73.98,few clouds,34.8791,-76.9013,Sherwood Motel
...,...,...,...,...,...,...,...
703,Pedasi,PA,81.68,overcast clouds,7.5333,-80.0333,Hotel Casa de Campo Pedasí
704,Vaitape,PF,77.94,clear sky,-16.5167,-151.7500,Conrad Bora Bora Nui
705,Richards Bay,ZA,70.47,broken clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
706,San Quintin,MX,72.50,scattered clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center
707,Tecolutla,MX,75.81,overcast clouds,20.4833,-97.0167,Hotel Plaza Marsol

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [24]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [25]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [26]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 72.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sherwood Motel</dd>\n<dt>City</dt><dd>Havelock</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 73.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>فندق الزيات</dd>\n<dt>City</dt><dd>Tahta</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Miarina</dd>\n<dt>City</dt><dd>Farafangana</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>light rain and 81.16 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [27]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -34.4187   19.2345
1  -33.9180   25.5701
4  -34.5322   20.0403
8  -21.3585   55.7679
9   34.8791  -76.9013
14  -0.9492  100.3543
16  -9.8000 -139.0333
21  26.7693   31.5021
23 -22.8167   47.8333
25  -0.6000   73.0833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [31]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))